<template> 
    <el-card class="form-container" shadow="never">
        <el-form :model="helpCategory" :rules="rules" label-width="150px" ref="helpCategoryFrom">
            <el-form-item label="名称：" prop="name">
                <el-input v-model="helpCategory.name"></el-input>
            </el-form-item>
            <el-form-item label="砍价最低价：" prop="pic">
                <el-input v-model="helpCategory.name"></el-input>
            </el-form-item>
            <el-form-item label="开始时间：" prop="startTime">
                <el-date-picker
                        :picker-options="pickerOptions1"
                        class="input-width"
                        placeholder="请选择开始时间"
                        type="datetime"
                        v-model="group.startTime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间：" prop="endTime">
                <el-date-picker
                        :picker-options="pickerOptions1"
                        class="input-width"
                        placeholder="请选择结束时间"
                        type="datetime"
                        v-model="group.endTime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="活动标签：">
                <el-checkbox-group v-model="selectServiceList">
                    <el-checkbox :label="1">新品</el-checkbox>
                    <el-checkbox :label="2">热销</el-checkbox>
                    <el-checkbox :label="3">推荐</el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="砍价方式：">
                <el-radio-group v-model="helpCategory.status">
                    <el-radio :label="1">设置人数</el-radio>
                    <el-radio :label="0">不设置人数</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="参与人数：" prop="pic">
                <el-input v-model="helpCategory.name"></el-input>
            </el-form-item>
            <el-form-item label="砍价波动值：" prop="pic">
                前
                <el-input v-model="helpCategory.name"></el-input>
                人砍价，
                最小值
                <el-input v-model="helpCategory.name"></el-input>
                最大值
                <el-input v-model="helpCategory.name"></el-input>
            </el-form-item>

            <el-form-item label="是否显示：">
                <el-radio-group v-model="helpCategory.status">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item>
                <el-button @click="onSubmit('helpCategoryFrom')" type="primary">提交</el-button>
                <el-button @click="resetForm('helpCategoryFrom')" v-if="!isEdit">重置</el-button>
            </el-form-item>
        </el-form>


    </el-card>
</template>
<script>
    import {fetchList as fetchProductList} from '@/api/product';
    import {createHelpCategory, getHelpCategory, updateHelpCategory} from '@/api/sms/groupActivity'
    import SingleUpload from '@/components/Upload/singleUpload'

    const defaultHelpCategory = {
        name: ''
    };
    export default {
        name: 'GroupActivityDetail',
        components: {SingleUpload},
        props: {
            isEdit: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                helpCategory: Object.assign({}, defaultHelpCategory),
                selectDialogVisible: false,
                dialogData: {
                    list: null,
                    total: null,
                    multipleSelection: [],
                    listQuery: {
                        keyword: null,
                        pageNum: 1,
                        pageSize: 5
                    }
                },
                rules: {
                    name: [
                        {required: true, message: '请输入品牌名称', trigger: 'blur'},
                        {min: 2, max: 140, message: '长度在 2 到 140 个字符', trigger: 'blur'}
                    ],
                    logo: [
                        {required: true, message: '请输入品牌logo', trigger: 'blur'}
                    ],
                    sort: [
                        {type: 'number', message: '排序必须为数字'}
                    ],
                }
            }
        },
        created() {
            if (this.isEdit) {
                getHelpCategory(this.$route.query.id).then(response => {
                    this.helpCategory = response.data;
                });
            } else {
                this.helpCategory = Object.assign({}, defaultHelpCategory);
            }
        },
        methods: {
            onSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$confirm('是否提交数据', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            if (this.isEdit) {
                                updateHelpCategory(this.$route.query.id, this.helpCategory).then(response => {
                                    this.$refs[formName].resetFields();
                                    this.$message({
                                        message: '修改成功',
                                        type: 'success',
                                        duration: 1000
                                    });
                                    this.$router.back();
                                });
                            } else {
                                createHelpCategory(this.helpCategory).then(response => {
                                    this.$refs[formName].resetFields();
                                    this.helpCategory = Object.assign({}, defaultHelpCategory);
                                    this.$message({
                                        message: '提交成功',
                                        type: 'success',
                                        duration: 1000
                                    });
                                    this.$router.back();
                                });
                            }
                        });

                    } else {
                        this.$message({
                            message: '验证失败',
                            type: 'error',
                            duration: 1000
                        });
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.helpCategory = Object.assign({}, defaultHelpCategory);
            },
            handleSelectProduct() {
                this.selectDialogVisible = true;
                this.getDialogList();
            },
            handleSelectSearch() {
                this.getDialogList();
            },
            handleDialogSizeChange(val) {
                this.dialogData.listQuery.pageNum = 1;
                this.dialogData.listQuery.pageSize = val;
                this.getDialogList();
            },
            handleDialogCurrentChange(val) {
                this.dialogData.listQuery.pageNum = val;
                this.getDialogList();
            },
            handleDialogSelectionChange(val) {
                this.dialogData.multipleSelection = val;

            },
            getList() {
                this.listLoading = true;
                fetchList(this.listQuery).then(response => {
                    this.listLoading = false;
                    this.list = response.data.data;
                    this.total = response.data.total;
                });
            },
            getDialogList() {
                fetchProductList(this.dialogData.listQuery).then(response => {
                    this.dialogData.list = response.data.records;
                    this.dialogData.total = response.data.total;
                })
            },
            handleSelectDialogConfirm() {
                if (this.dialogData.multipleSelection < 1) {
                    this.$message({
                        message: '请选择一条记录',
                        type: 'warning',
                        duration: 1000
                    });
                    return;
                }
                let selectProducts = [];
                let totalPrice = 0;
                for (let i = 0; i < this.dialogData.multipleSelection.length; i++) {
                    totalPrice = totalPrice + this.dialogData.multipleSelection[i].price;
                    selectProducts.push({
                        id: this.dialogData.multipleSelection[i].id,
                        name: this.dialogData.multipleSelection[i].name,
                        price: this.dialogData.multipleSelection[i].price,
                        stock: this.dialogData.multipleSelection[i].stock
                    });
                }
                this.$confirm('使用要进行添加操作?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.selectDialogVisible = false;
                    this.helpCategory.productList = selectProducts;
                    this.helpCategory.originprice = totalPrice;
                });
            },
            handleDeleteProductRelation(index, row) {
                this.helpCategory.productList.splice(index, 1);
            },
            handleEditDialogConfirm() {
                this.$confirm('是否要确认?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.editDialogVisible = false;
                })
            },
        }
    }
</script>
<style>
</style>


