<template> 
    <BarginActivityDetail-detail :is-edit='false'></BarginActivityDetail-detail>
</template>
<script>
    import BarginActivityDetail from './components/BarginActivityDetail'

    export default {
      name: 'addBarginActivityDetail',
      components: {BarginActivityDetail}
  }
</script>
<style>
</style>


