<template> 
    <BarginActivityDetail-detail :is-edit='true'></BarginActivityDetail-detail>
</template>
<script>
    import BarginActivityDetail from './components/BarginActivityDetail'

    export default {
      name: 'updateBarginActivity',
      components: {BarginActivityDetail}
  }
</script>
<style>
</style>


