  <template>
    <div>
      <el-card class="login-form-layout" style="width:70%;">
        <el-form autoComplete="on"
                 :model="storeForm"
                 :rules="storeRules"
                 ref="storeForm"
                 label-position="left">
          <div style="text-align: center">
            <svg-icon icon-class="login-mall" style="width: 56px;height: 56px;color: #409EFF"></svg-icon>
          </div>
          <h2 class="login-title color-main">DSC服务型电商平台商家入驻</h2>
          <div style="margin-left: 80px;">
            <el-form-item label="头像：" prop="icon">
              <single-upload v-model="storeForm.icon"></single-upload>
            </el-form-item>
            <el-form-item label="执照上传：" prop="businessLicense">
              <single-upload v-model="storeForm.businessLicense"></single-upload>
            </el-form-item>
            <el-form-item label="法人证件正面：" prop="legalPersonFront">
              <single-upload v-model="storeForm.legalPersonFront"></single-upload>
            </el-form-item>
            <el-form-item label="法人证件反面：" prop="legalPersonReverse">
              <single-upload v-model="storeForm.legalPersonReverse"></single-upload>
            </el-form-item>
            <el-form-item label="手持身份证：" prop="handPhoto">
              <single-upload v-model="storeForm.handPhoto"></single-upload>
            </el-form-item>
            <el-form-item prop="userName">
              <el-input name="userName" style="width: 30%;"
                        type="text"
                        v-model="storeForm.userName"
                        autoComplete="on"
                        placeholder="请输入用户名">
          <span slot="prefix">
            <svg-icon icon-class="user" required="required" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="password">
              <el-input name="supportName" style="width: 30%;"
                        type="password"
                        v-model="storeForm.password"
                        autoComplete="on"
                        placeholder="请输入密码">
          <span slot="prefix">
            <svg-icon icon-class="password" required="required" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>

            <el-form-item label="角色：" prop="roleId">
              <el-select
                      name="roleId"
                      v-model="storeForm.roleId"
                      @change="handlecateChange"
                      placeholder="请选择角色">
                <el-option
                        v-for="item in cateOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item prop="storeName">
              <el-input name="storeName" style="width: 30%;" required="required"
                        type="text"
                        v-model="storeForm.storeName"
                        autoComplete="on"
                        placeholder="请输入企业名称">
          <span slot="prefix">
            <svg-icon icon-class="codeConsole" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="phone">
              <el-input name="phone" style="width: 30%;"
                        type="text"
                        v-model="storeForm.phone"
                        autoComplete="on"
                        placeholder="请输入手机号">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="telephone">
              <el-input name="telephone" style="width: 30%;"
                        type="text"
                        v-model="storeForm.telephone"
                        autoComplete="on"
                        placeholder="请输入办公电话">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="address">
              <el-input name="address" style="width: 30%;"
                        type="text"
                        v-model="storeForm.address"
                        autoComplete="on"
                        placeholder="请输入地址">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="qq">
              <el-input name="qq" style="width: 30%;"
                        type="text"
                        v-model="storeForm.qq"
                        autoComplete="on"
                        placeholder="请输入qq">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="wechat">
              <el-input name="wechat" style="width: 30%;"
                        type="text"
                        v-model="storeForm.wechat"
                        autoComplete="on"
                        placeholder="请输入微信号">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="web">
              <el-input name="web" style="width: 30%;"
                        type="text"
                        v-model="storeForm.web"
                        autoComplete="on"
                        placeholder="请输入网址">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>
            <el-form-item prop="content">
              企业简介:
              <!--<editor name="content" :catchData="catchData" v-model="storeForm.content"></editor>-->
              <el-input name="content"
                        type="textarea"
                        v-model="storeForm.content"
                        autoComplete="on"
                        placeholder="请输入企业简介">
          <span slot="prefix">
            <svg-icon icon-class="user" class="color-main"></svg-icon>
          </span>
              </el-input>
            </el-form-item>

            <el-form-item style="margin-bottom: 60px">
              <el-button style="width: 100%" type="primary" :loading="loading"
                         @click.native.prevent="handleLogin">
                商户入驻
              </el-button>
            </el-form-item>
          </div>
        </el-form>
      </el-card>
      <img :src="login_center_bg" class="login-center-layout">
    </div>
  </template>

  <script>
    import {isvalidUsername} from '@/utils/validate';
    import {fetchList, listBakCate} from '@/api/sys/store'
    import login_center_bg from '@/assets/images/login_center_bg.png'
    import {createStore, getStore, updateStore} from '@/api/sys/store'
    import SingleUpload from '@/components/Upload/singleUpload'
    import Editor from '@/views/components/Editor'

    const defaultAdmin = {
      name: '',
      addressLat: '',
      logo: '',
      contactQq: '',
      supportPhone: '',
      addressLat: '',
      supportName: '',
      businessLicense: '',
      legalPersonFront: '',
      legalPersonReverse: '',
      handPhoto: '',
      content: ''


    };
    export default {
      components: {SingleUpload, Editor},
      name: 'login',
      data() {

        return {
          cateOptions: null,
          storeForm: Object.assign({}, defaultAdmin),
          storeRules: {
            userName: [
              {required: true, message: '请输入用户名', trigger: 'blur'},
              {min: 5, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
            ],
            password:[
              {required: true, message: '请输入密码', trigger: 'blur'},
              {min: 5, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
            ],
            roleId:[
              {required: true, message: '请选择用户角色', trigger: 'blur'},
            ],

          },
          loading: false,
          pwdType: 'password',
          login_center_bg
        }
      },
      created() {

        this.getCateList();
      },
      methods: {
        getCateList() {
          listBakCate({pageNum: 1, pageSize: 100}).then(response => {
            this.cateOptions = [];
            let brandList = response.data;
            for (let i = 0; i < brandList.length; i++) {
              this.cateOptions.push({label: brandList[i].name, value: brandList[i].id});
            }
          });
        },
        showPwd() {
          if (this.pwdType === 'password') {
            this.pwdType = ''
          } else {
            this.pwdType = 'password'
          }
        },
        handleLogin() {
          this.$refs.storeForm.validate(valid => {
            if (valid) {
              createStore(this.storeForm).then(response => {
                if (response.code == 200) {
                  this.storeForm = Object.assign({}, defaultAdmin);
                  this.$message({
                    message: '提交成功',
                    type: 'success',
                    duration: 1000
                  });
                  this.$router.push({path: '/login'})
                } else {
                  this.$message({
                    message: response.msg,
                    type: 'error',
                    duration: 1000
                  });

                }
              });
            } else {
              console.log('参数验证不合法！');
              return false
            }
          })
        },
        handlecateChange(val) {
          let brandName = '';
          for (let i = 0; i < this.cateOptions.length; i++) {
            if (this.cateOptions[i].value === val) {
              brandName = this.cateOptions[i].label;
              break;
            }
          }

          this.categoryName = brandName;
        },
      }
    }
  </script>

  <style scoped>
    .login-form-layout {
      position: absolute;
      left: 0;
      right: 0;
      width: 360px;
      margin: 140px auto;
      border-top: 10px solid #409EFF;
    }

    .login-title {
      text-align: center;
    }

    .login-center-layout {
      background: #409EFF;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin-top: 200px;
    }
  </style>
